PORT=3330
apiKey=(seuvalor.apiKey)
authDomain=(seuvalor.authDomain)
databaseURL=(seuvalor.databaseURL)
projectId=(seuvalor.projectId)
storageBucket=(seuvalor.storageBucket)
messagingSenderId=(seuvalor.messagingSenderId)
appId=(seuvalor.appId)
measurementId=(seuvalor.measurementId)