<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/about.css">
    <title>projeto IOT - Animal Feeder</title>
</head>

<body>
    <header>
        <div class="Active">
            <div class="divideCenter">
                <div class="logo">
                    <figure>
                        <source media="()" srcset="">
                    </figure>
                </div>
            </div>
            <div class="divideCenter">
                <ul>
                    <li>Home</li>
                    <li>Dashboard</li>
                    <li>Profile</li>
                </ul>
            </div>
        </div>
    </header>
    <br>
    <main>
        <div class="grade">
            <h1>Alimentador Automático de Animais de Estimação: Uma Solução para Proprietários Ocupados</h1>
            <h4>Resumo</h4>
            <p>Este é um projeto-artigo, que apresenta um protótipo de alimentador automático de animais de estimação, projetado para ajudar pessoas que passam longas horas fora de casa devido ao trabalho e outras obrigações. O objetivo é garantir que seus animais de estimação sejam alimentados regularmente, mesmo na ausência do dono.</p>
            <h4>Contribuições</h4>
            <p>
                Danielly Alves, Alessandro Lopes e Marcelo Bezerra contribuíram com a escrita do artigo e a busca de ideias para o projeto. Eles realizaram uma extensa pesquisa para entender as necessidades dos animais de estimação e dos donos, e como um alimentador automático poderia atender a essas necessidades.
                Francisco Kaylon e Rafael Do Carmo foram responsáveis pela montagem e programação do protótipo. Eles aplicaram seus conhecimentos técnicos para transformar a ideia em um produto funcional.
                Esperamos que este trabalho inspire outros a continuar explorando soluções tecnológicas para problemas cotidianos. Afinal, a inovação começa com uma ideia e a vontade de fazer a diferença.
            </p>
            <h4>Conclusão</h4>
            <p>Este projeto-artigo demonstra como a tecnologia pode ser usada para resolver problemas cotidianos e melhorar a qualidade de vida tanto dos animais de estimação quanto de seus donos. O alimentador automático de animais de estimação é uma solução inovadora que promete trazer tranquilidade para os donos de animais de estimação ocupados.</p>
            <h3>Autores:</h3>
            <ul>
                <li>Alessandro dos Santos Lopes</li>
                <li>Danielly Alves Difirino</li>
                <li>Francisco Kaylon Silva de Oliveira</li>
                <li>Rafael Silva Do Carmo</li>
                <li>Marcelo Bezerra Silva</li>
            </ul>
        </div>
    </main>
    <footer>
        
    </footer>
    <script src="/static/js/about.js"></script>
</body>
</html>