<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">
    <title>projeto IOT - Animal Feeder</title>
</head>

<body>
    <header>
        <div class="Active">
            <div class="divideCenter">
                <div class="logo"></div>
                </div>
            </div>
            <div class="divideCenter">
                <ul>
                    <li>Home</li>
                    <li>Dashboard</li>
                    <li>Profile</li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="grade">
            <h3>
                Quadro de Alimentação
            </h3>
            <div class="controlCenter">
                <!-- dias da semana -->
                <div class="horary">
                    <ul>horário</ul>
                </div>
                <!-- Segunda -->
                <div class="monday">
                    segunda
                </div>
                <!-- Terçaa -->
                <div class="tuesday">
                    terça
                </div>
                <!-- Quarta -->
                <div class="wednesday">
                    quarta
                </div>
                <!-- Quinta -->
                <div class="thursday">
                    quinta
                </div>
                <!-- Sexta -->
                <div class="friday">
                    sexta
                </div>
                <!-- Sábado -->
                <div class="saturday">
                    sábado
                </div>
                <!-- Domingo -->
                <div class="sunday">
                    domingo
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/dashboard.js"></script>
</body>
</html>