<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./../static/css/about.css">
    <title>projeto IOT - Animal Feeder</title>
</head>

<body>
    <header>
        <div class="Active">
            <div class="divideCenter">
                <div class="logo">
                </div>
            </div>
            <div class="divideCenter">
                <ul>
                    <li>Home</li>
                    <li>Dashboard</li>
                    <li>Profile</li>
                </ul>
            </div>
        </div>
    </header>
    <br>
    <main>
        
    </main>
    <footer>
        
    </footer>
    <script src="./../static/js/error.js"></script>
</body>
</html>