<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Feeder</title>
    <link type="text/css" rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="section_login">
        <form class="menu_lr" method="post">
            <!-- <div class="register">
            </div> -->
            <div class="login">
                <div class="org_menu">
                    <input type="text" id="username" name="username" required>
                    <label>username</label>
                </div>
                <div class="org_menu">
                    <input type="password" id="password" name="password" required>
                    <label>password</label>
                </div>
                <button type="submit" id="cad_res">
                    Login
                </button>
            </div>
        </form>
    </div>

<script type="js" src="static/js/index.js"></script>

</body>
</html>