<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/css/dashboard.css">
    <title>projeto IOT - Animal Feeder</title>
</head>

<body>
    <header>
        <div class="Active">
            <div class="divideCenter">
                <div class="logo"></div>
                </div>
            </div>
            <div class="divideCenter">
                <ul>
                    <li>Home</li>
                    <li>Dashboard</li>
                    <li>Profile</li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="grade">
        </div>
    </main>
    <footer></footer>
</body>
</html>