<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/css/profile.css">
    <title>projeto IOT - Animal Feeder</title>
</head>

<body>
    <header>
        <div class="Active">
            <div class="divideCenter">
                <div class="logo">
                    <a href="/about"><img src="static/imgs/cats-dogs.png" alt="logo-png" srcset="static/imgs/cats-dogs.png"></a>
                </div>
            </div>
            <div class="divideCenter">
                <ul>
                    <li>Home</li>
                    <li>Dashboard</li>
                    <li class="active">Profile</li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="grade">
        </div>
    </main>
    <footer></footer>
</body>
    <script type="module" src="static/js/profile.js"></script>
</html>