@import url(../css/rootStyle.css);

.grade {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: "Amarante";
    text-align: justify;
}

.grade > h1 {
    text-align: center;
}
.grade > ul {
    padding-left: 2rem;
}

.grade > ul > li {
    list-style-type: disc;
    overflow: visible;
}